
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  border-bottom: 1px solid #245CA6;
}

.navbar img{
  float: left;
  max-width: 150px;
}

.navbar .logout{
  float: right;
}